section {
    font-size: 1.6rem;
    border: .3rem solid black;
}

li {
    font-size: .8em;
    line-height: 1.5em;
}

ul {
    padding-inline-start: 1.2em;
}

/* section ul li ul li ul:nth-of-type(1) {
    background-color: gold;
} */

.dogs li::before {
    content: "🐶 ";
  }

.cats li::before {
    content: "🙀 ";
  }

  .parrots li::before {
    content: "🦜 ";
  }

  .snakes li::before {
    content: "🐍 ";
  }

  .lizards li::before {
    content: "🦎 ";
  }